In [ ]:
import numpy as np
import pandas as pd
import difflib
import re
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
bike_data=pd.read_csv('/content/vehiclesdata.csv')
bike_data

,index,name,Model,Price,Year,Kilometer,Fuel Type,Transmission,Engine,Max Power,Max Torque,Seating Capacity,Fuel Tank Capacity,rating,vehicle_type
0,0,Honda,Amaze 1.2 VX i-VTEC,505000,2017,87150,Petrol,Manual,1198 cc,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,5,35,4,car
1,1,Maruti Suzuki,Swift DZire VDI,450000,2014,75000,Diesel,Manual,1248 cc,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,5,42,4,car
2,2,Hyundai,i10 Magna 1.2 Kappa2,220000,2011,67000,Petrol,Manual,1197 cc,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,5,35,5,car
3,3,Toyota,Glanza G,799000,2019,37500,Petrol,Manual,1197 cc,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,5,37,3,car
4,4,Toyota,Innova 2.4 VX 7 STR [2016-2020],1950000,2018,69000,Diesel,Manual,2393 cc,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,7,55,3,car
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,193,Bajaj Pulsar 220S,NaN,2900,2015,45000,Petrol,Manual,250,NaN,NaN,2,13,3,bike
194,194,Honda Activa 4G,NaN,1800,2018,25000,Petrol,Manual,350,NaN,NaN,2,13,5,bike
195,195,Yamaha FZ25,NaN,1800,2019,2500,Petrol,Manual,350,NaN,NaN,2,12,4,bike
196,196,Bajaj Pulsar 150,NaN,1400,2015,22770,Petrol,Manual,250,NaN,NaN,2,12,5,bike
197,197,Hero Splendor Plus,NaN,2200,2015,30000,Petrol,Manual,250,NaN,NaN,2,13,4,bike

In [ ]:
#fig,ax=plt.subplots(figsize=(8,8))
#sns.distplot(bike_data.ex_showroom_price)
def clean_name(name):
   return re.sub("[^a-zA-Z0-9]","",name)
   return name

In [ ]:
# bike_data["clean_name"] = bike_data["name"].apply(clean_name)

In [ ]:
bike_data['Max Power'].fillna(bike_data['Max Power'].median,inplace=True)
bike_data['Max Torque'].fillna(bike_data['Max Torque'].median,inplace=True)
bike_data.isnull().sum()

index                  0
name                   0
Model                 99
Price                  0
Year                   0
Kilometer              0
Fuel Type              0
Transmission           0
Engine                 0
Max Power              0
Max Torque             0
Seating Capacity       0
Fuel Tank Capacity     0
rating                 0
vehicle_type           0
dtype: int64

In [ ]:
bike_data.duplicated().sum()

0

In [ ]:
selected_features = ['Price','rating','name','Kilometer','vehicle_type']
print(selected_features)

['Price', 'rating', 'name', 'Kilometer', 'vehicle_type']

In [ ]:
for feature in selected_features:
  bike_data[feature] = bike_data[feature].fillna('')

In [ ]:
combined_features=str(bike_data['Price'])+str(bike_data['rating'])+bike_data['name']+bike_data['vehicle_type']+str(bike_data['Kilometer'])

In [ ]:
print(combined_features)

0      0       505000\n1       450000\n2       220000...
1      0       505000\n1       450000\n2       220000...
2      0       505000\n1       450000\n2       220000...
3      0       505000\n1       450000\n2       220000...
4      0       505000\n1       450000\n2       220000...
                             ...
193    0       505000\n1       450000\n2       220000...
194    0       505000\n1       450000\n2       220000...
195    0       505000\n1       450000\n2       220000...
196    0       505000\n1       450000\n2       220000...
197    0       505000\n1       450000\n2       220000...
Length: 198, dtype: object

In [ ]:
vectorizer = TfidfVectorizer(ngram_range=(1,2))

In [ ]:
fecture_vectors = vectorizer.fit_transform(combined_features)

In [ ]:
print(fecture_vectors)

  (0, 192)	0.06811669125730968
  (0, 361)	0.06811669125730968
  (0, 369)	0.06811669125730968
  (0, 99)	0.06811669125730968
  (0, 46)	0.06811669125730968
  (0, 89)	0.06811669125730968
  (0, 43)	0.06811669125730968
  (0, 91)	0.06811669125730968
  (0, 37)	0.06811669125730968
  (0, 93)	0.06811669125730968
  (0, 33)	0.06811669125730968
  (0, 117)	0.06811669125730968
  (0, 29)	0.06811669125730968
  (0, 131)	0.06811669125730968
  (0, 107)	0.06811669125730968
  (0, 129)	0.06811669125730968
  (0, 133)	0.06811669125730968
  (0, 137)	0.06811669125730968
  (0, 304)	0.26534240976932666
  (0, 200)	0.26534240976932666
  (0, 403)	0.06811669125730968
  (0, 371)	0.06811669125730968
  (0, 47)	0.06811669125730968
  (0, 42)	0.06811669125730968
  (0, 36)	0.06811669125730968
  :	:
  (197, 106)	0.057737977810748894
  (197, 128)	0.057737977810748894
  (197, 132)	0.057737977810748894
  (197, 136)	0.057737977810748894
  (197, 402)	0.057737977810748894
  (197, 271)	0.057737977810748894
  (197, 191)	0.17321393343224667
  (197, 48)	0.17321393343224667
  (197, 362)	0.17321393343224667
  (197, 386)	0.057737977810748894
  (197, 368)	0.17321393343224667
  (197, 80)	0.057737977810748894
  (197, 44)	0.17321393343224667
  (197, 11)	0.057737977810748894
  (197, 40)	0.17321393343224667
  (197, 34)	0.17321393343224667
  (197, 23)	0.11547595562149779
  (197, 30)	0.17321393343224667
  (197, 96)	0.057737977810748894
  (197, 26)	0.17321393343224667
  (197, 38)	0.057737977810748894
  (197, 134)	0.057737977810748894
  (197, 82)	0.057737977810748894
  (197, 118)	0.057737977810748894
  (197, 124)	0.057737977810748894

In [ ]:
similarity = cosine_similarity(fecture_vectors)

In [ ]:
print(similarity)

[[1.         0.78096307 0.81350311 ... 0.69618914 0.67262691 0.6685964 ]
 [0.78096307 1.         0.80544095 ... 0.68928961 0.66596089 0.66197033]
 [0.81350311 0.80544095 1.         ... 0.71800993 0.69370918 0.68955235]
 ...
 [0.69618914 0.68928961 0.71800993 ... 1.         0.5936705  0.59011312]
 [0.67262691 0.66596089 0.69370918 ... 0.5936705  1.         0.57014098]
 [0.6685964  0.66197033 0.68955235 ... 0.59011312 0.57014098 1.        ]]

In [ ]:
# getting the movie name from the users

bike_name = input('Enter bike_name: ')

Enter bike_name: Toyota

In [ ]:

#creating a list with all movie names givenin the dataset

list_of_all_name = bike_data['name'].tolist()
print(list_of_all_name)

['Honda', 'Maruti Suzuki', 'Hyundai', 'Toyota', 'Toyota', 'Maruti Suzuki', 'Mercedes-Benz', 'BMW', 'Skoda', 'Nissan', 'Hyundai', 'Renault', 'Maruti Suzuki', 'Tata', 'Volkswagen', 'Maruti Suzuki', 'Maruti Suzuki', 'Maruti Suzuki', 'Maruti Suzuki', 'Hyundai', 'Maruti Suzuki', 'Volkswagen', 'Hyundai', 'Hyundai', 'Maruti Suzuki', 'Maruti Suzuki', 'Hyundai', 'Honda', 'Hyundai', 'Honda', 'Hyundai', 'Hyundai', 'Ford', 'Honda', 'Hyundai', 'Tata', 'Tata', 'Toyota', 'Mercedes-Benz', 'Hyundai', 'Mercedes-Benz', 'Toyota', 'Audi', 'Mercedes-Benz', 'Hyundai', 'Mahindra', 'Maruti Suzuki', 'Maruti Suzuki', 'Maruti Suzuki', 'Maruti Suzuki', 'Hyundai', 'Hyundai', 'Renault', 'MG', 'Tata', 'Toyota', 'BMW', 'Jeep', 'Mahindra', 'Honda', 'BMW', 'Honda', 'Volkswagen', 'Maruti Suzuki', 'Maruti Suzuki', 'Hyundai', 'BMW', 'Toyota', 'Honda', 'Audi', 'Maruti Suzuki', 'Hyundai', 'Audi', 'Honda', 'Ford', 'Honda', 'Volkswagen', 'Honda', 'Toyota', 'Mahindra', 'Mercedes-Benz', 'Audi', 'Maruti Suzuki', 'BMW', 'Maruti Suzuki', 'Hyundai', 'Volkswagen', 'Mercedes-Benz', 'Toyota', 'Maruti Suzuki', 'Nissan', 'Maruti Suzuki', 'Maruti Suzuki', 'BMW', 'Mercedes-Benz', 'Porsche', 'Mercedes-Benz', 'Hyundai', 'Hyundai', 'Royal Enfield Classic 350', 'Honda Dio', 'Royal Enfield Classic Gunmetal Grey', 'Yamaha Fazer FI V 2.0 [2016-2018]', 'Yamaha SZ [2013-2014]', 'Honda CB Twister', 'Honda CB Hornet 160R', 'Royal Enfield Bullet 350 [2007-2011]', 'Hero Honda CBZ extreme', 'Bajaj Discover 125', 'Yamaha FZ16', 'Honda Navi', 'Bajaj Avenger Street 220', 'Yamaha YZF R3', 'Jawa 42', 'Suzuki Access 125 [2007-2016]', 'Hero Honda Glamour', 'Yamaha YZF R15 S', 'Royal Enfield Classic Gunmetal Grey', 'Yamaha FZ25', 'Hero Passion Pro 110', 'Honda Navi [2016-2017]', 'Honda Activa i', 'Jawa Standard', 'Royal Enfield Thunderbird 350', 'Honda Dream Yuga', 'TVS Apache RTR 160 4V', 'Honda Navi [2016-2017]', 'Yamaha Fazer [2009-2016]', 'Hero Honda Splendor NXG', 'Hero Glamour 125', 'Yamaha FZ S [2012-2016]', 'Hero Xtreme Sports', 'Honda X-Blade', 'Honda CB Shine SP', 'Honda Activa 5G', 'Hero Glamour 125', 'Honda CBR-250R', 'Hero Honda Passion PRO [2012]', 'Royal Enfield Thunderbird 350', 'Bajaj Dominar 400', 'Hero Glamour FI', 'KTM 390 Duke', 'Hero Passion XPro', 'Yamaha FZ S V 2.0', 'Hero Achiever 150', 'Bajaj Discover 125', 'Yamaha FZ16', 'Yamaha Saluto', 'Yamaha FZ16', 'Bajaj Discover 100', 'Honda CB Trigger', 'Royal Enfield Electra 5 S', 'Hero Splendor PRO', 'Honda Activa 5G', 'Hero Honda Passion Plus', 'Bajaj Pulsar 150', 'Royal Enfield Bullet 350', 'Bajaj Discover 125', 'Bajaj Pulsar 150 [2001-2011]', 'Hero Splendor PRO', 'Hero Xtreme Sports', 'Honda Activa 3G', 'Yamaha FZ16', 'Honda CB Hornet 160R', 'Royal Enfield Thunderbird 350', 'Hero Hunk', "Suzuki Let''s", 'Royal Enfield Electra 4 S', 'TVS Scooty Pep Plus', 'Mahindra Mojo XT300', 'TVS Apache RTR 160', 'Bajaj Pulsar AS200', 'Bajaj Pulsar 150', 'Royal Enfield Thunderbird 350X', 'Suzuki Intruder 150', 'Hero Honda Karizma ZMR [2010]', 'Honda Dio', 'Bajaj Xcd', 'Hero Splendor Plus', 'Royal Enfield Thunderbird 350X', 'Honda CB Unicorn 150', 'Honda Activa 5G', 'Honda CB Twister', 'Hero Splendor PRO', 'Hero Honda CD Deluxe', 'Honda Activa i [2016-2017]', 'Royal Enfield Classic Gunmetal Grey', 'TVS Scooty Zest 110', 'Hero CD Deluxe', 'Suzuki Access 125 [2007-2016]', 'Honda Activa [2000-2015]', 'Honda Activa 125 [2016-2017]', 'Suzuki GS150R', 'Bajaj Pulsar 220S', 'Honda Activa 4G', 'Yamaha FZ25', 'Bajaj Pulsar 150', 'Hero Splendor Plus']

In [ ]:

# finding the close match for the movie name given by the user
find_close_match = difflib.get_close_matches(bike_name,list_of_all_name)
print(find_close_match)

['Toyota', 'Toyota', 'Toyota']

In [ ]:
close_match = find_close_match[0]
print(close_match)

Toyota

In [ ]:
# finding the index of the bike with name

index_of_the_bike = bike_data[bike_data.name == close_match]['index'].values[0]
print(index_of_the_bike)

3

In [ ]:
# getting a list of similar movies

similarity_score = list(enumerate(similarity[index_of_the_bike]))
print(similarity_score)

[(0, 0.7801212005029043), (1, 0.7723898729233004), (2, 0.804572689036861), (3, 1.0000000000000007), (4, 1.0000000000000007), (5, 0.7723898729233004), (6, 0.7187639387757857), (7, 0.7606471364810309), (8, 0.704752175450625), (9, 0.7229546404883268), (10, 0.804572689036861), (11, 0.7229546404883268), (12, 0.7723898729233004), (13, 0.7457994533371004), (14, 0.753873388867914), (15, 0.7723898729233004), (16, 0.7723898729233004), (17, 0.7723898729233004), (18, 0.7723898729233004), (19, 0.804572689036861), (20, 0.7723898729233004), (21, 0.753873388867914), (22, 0.804572689036861), (23, 0.804572689036861), (24, 0.7723898729233004), (25, 0.7723898729233004), (26, 0.804572689036861), (27, 0.7801212005029043), (28, 0.804572689036861), (29, 0.7801212005029043), (30, 0.804572689036861), (31, 0.804572689036861), (32, 0.7229546404883268), (33, 0.7801212005029043), (34, 0.804572689036861), (35, 0.7457994533371004), (36, 0.7457994533371004), (37, 1.0000000000000007), (38, 0.7187639387757857), (39, 0.804572689036861), (40, 0.7187639387757857), (41, 1.0000000000000007), (42, 0.7457994533371004), (43, 0.7187639387757857), (44, 0.804572689036861), (45, 0.7358494412129024), (46, 0.7723898729233004), (47, 0.7723898729233004), (48, 0.7723898729233004), (49, 0.7723898729233004), (50, 0.804572689036861), (51, 0.804572689036861), (52, 0.7229546404883268), (53, 0.704752175450625), (54, 0.7457994533371004), (55, 1.0000000000000007), (56, 0.7606471364810309), (57, 0.704752175450625), (58, 0.7358494412129024), (59, 0.7801212005029043), (60, 0.7606471364810309), (61, 0.7801212005029043), (62, 0.753873388867914), (63, 0.7723898729233004), (64, 0.7723898729233004), (65, 0.804572689036861), (66, 0.7606471364810309), (67, 1.0000000000000007), (68, 0.7801212005029043), (69, 0.7457994533371004), (70, 0.7723898729233004), (71, 0.804572689036861), (72, 0.7457994533371004), (73, 0.7801212005029043), (74, 0.7229546404883268), (75, 0.7801212005029043), (76, 0.753873388867914), (77, 0.7801212005029043), (78, 1.0000000000000007), (79, 0.7358494412129024), (80, 0.7187639387757857), (81, 0.7457994533371004), (82, 0.7723898729233004), (83, 0.7606471364810309), (84, 0.7723898729233004), (85, 0.804572689036861), (86, 0.753873388867914), (87, 0.7187639387757857), (88, 1.0000000000000007), (89, 0.7723898729233004), (90, 0.7229546404883268), (91, 0.7723898729233004), (92, 0.7723898729233004), (93, 0.7606471364810309), (94, 0.7187639387757857), (95, 0.704752175450625), (96, 0.7187639387757857), (97, 0.804572689036861), (98, 0.804572689036861), (99, 0.6218603105582519), (100, 0.6971725980325056), (101, 0.5816597265174576), (102, 0.5235257306185563), (103, 0.5459674225953651), (104, 0.6553811180634983), (105, 0.6041638653468294), (106, 0.5093014242327359), (107, 0.5857683444446886), (108, 0.6555756109971018), (109, 0.7081949409640349), (110, 0.6808059720894577), (111, 0.5613541506662764), (112, 0.6177018945664263), (113, 0.642180998845227), (114, 0.5361669586152334), (115, 0.640684887723711), (116, 0.5816933355875208), (117, 0.5816597265174576), (118, 0.6885465629430749), (119, 0.5889333004127323), (120, 0.5903217200818941), (121, 0.6454502128547045), (122, 0.642180998845227), (123, 0.6318424443507962), (124, 0.6159573558536696), (125, 0.5234927594921767), (126, 0.5903217200818941), (127, 0.5680961647328716), (128, 0.5955563983501483), (129, 0.655121923802173), (130, 0.5711801614382108), (131, 0.6354118021909083), (132, 0.6808059720894577), (133, 0.5865662687872593), (134, 0.669083821706763), (135, 0.655121923802173), (136, 0.6159573558536696), (137, 0.5442276702847668), (138, 0.6318424443507962), (139, 0.609121703616475), (140, 0.6283731998837363), (141, 0.5802788818827503), (142, 0.6276500166042578), (143, 0.6177018945664263), (144, 0.6384049954125309), (145, 0.6555756109971018), (146, 0.7081949409640349), (147, 0.6727663985438526), (148, 0.7081949409640349), (149, 0.6260376128073576), (150, 0.641729347617432), (151, 0.6137133731703931), (152, 0.6597472552543912), (153, 0.669083821706763), (154, 0.6125067366507458), (155, 0.6652429897191633), (156, 0.6128099573170598), (157, 0.6555756109971018), (158, 0.5282316864523079), (159, 0.6597472552543912), (160, 0.6354118021909083), (161, 0.6454502128547045), (162, 0.7081949409640349), (163, 0.6041638653468294), (164, 0.6318424443507962), (165, 0.6795592398898933), (166, 0.6134980212967751), (167, 0.6137133731703931), (168, 0.5685222781519979), (169, 0.5802788818827503), (170, 0.5615819191521986), (171, 0.6318005873870042), (172, 0.6652429897191633), (173, 0.6166861548197016), (174, 0.6189186098657634), (175, 0.5283980957203019), (176, 0.6971725980325056), (177, 0.6716098397872673), (178, 0.6612567306621469), (179, 0.6166861548197016), (180, 0.6067350805146317), (181, 0.669083821706763), (182, 0.6553811180634983), (183, 0.6597472552543912), (184, 0.5996615132598597), (185, 0.6047459597531397), (186, 0.5816597265174576), (187, 0.5615819191521986), (188, 0.6311741304822367), (189, 0.5361669586152334), (190, 0.5709571244330177), (191, 0.5628086578321762), (192, 0.6561969919199329), (193, 0.6318005873870042), (194, 0.6454502128547045), (195, 0.6885465629430749), (196, 0.6652429897191633), (197, 0.6612567306621469)]

In [ ]:

len(similarity_score)

198

In [ ]:

# shorting the moving on based on their similarity score

sorted_similar_bike = sorted(similarity_score,key = lambda x:x[1],reverse = True)
print(sorted_similar_bike)

[(3, 1.0000000000000007), (4, 1.0000000000000007), (37, 1.0000000000000007), (41, 1.0000000000000007), (55, 1.0000000000000007), (67, 1.0000000000000007), (78, 1.0000000000000007), (88, 1.0000000000000007), (2, 0.804572689036861), (10, 0.804572689036861), (19, 0.804572689036861), (22, 0.804572689036861), (23, 0.804572689036861), (26, 0.804572689036861), (28, 0.804572689036861), (30, 0.804572689036861), (31, 0.804572689036861), (34, 0.804572689036861), (39, 0.804572689036861), (44, 0.804572689036861), (50, 0.804572689036861), (51, 0.804572689036861), (65, 0.804572689036861), (71, 0.804572689036861), (85, 0.804572689036861), (97, 0.804572689036861), (98, 0.804572689036861), (0, 0.7801212005029043), (27, 0.7801212005029043), (29, 0.7801212005029043), (33, 0.7801212005029043), (59, 0.7801212005029043), (61, 0.7801212005029043), (68, 0.7801212005029043), (73, 0.7801212005029043), (75, 0.7801212005029043), (77, 0.7801212005029043), (1, 0.7723898729233004), (5, 0.7723898729233004), (12, 0.7723898729233004), (15, 0.7723898729233004), (16, 0.7723898729233004), (17, 0.7723898729233004), (18, 0.7723898729233004), (20, 0.7723898729233004), (24, 0.7723898729233004), (25, 0.7723898729233004), (46, 0.7723898729233004), (47, 0.7723898729233004), (48, 0.7723898729233004), (49, 0.7723898729233004), (63, 0.7723898729233004), (64, 0.7723898729233004), (70, 0.7723898729233004), (82, 0.7723898729233004), (84, 0.7723898729233004), (89, 0.7723898729233004), (91, 0.7723898729233004), (92, 0.7723898729233004), (7, 0.7606471364810309), (56, 0.7606471364810309), (60, 0.7606471364810309), (66, 0.7606471364810309), (83, 0.7606471364810309), (93, 0.7606471364810309), (14, 0.753873388867914), (21, 0.753873388867914), (62, 0.753873388867914), (76, 0.753873388867914), (86, 0.753873388867914), (13, 0.7457994533371004), (35, 0.7457994533371004), (36, 0.7457994533371004), (42, 0.7457994533371004), (54, 0.7457994533371004), (69, 0.7457994533371004), (72, 0.7457994533371004), (81, 0.7457994533371004), (45, 0.7358494412129024), (58, 0.7358494412129024), (79, 0.7358494412129024), (9, 0.7229546404883268), (11, 0.7229546404883268), (32, 0.7229546404883268), (52, 0.7229546404883268), (74, 0.7229546404883268), (90, 0.7229546404883268), (6, 0.7187639387757857), (38, 0.7187639387757857), (40, 0.7187639387757857), (43, 0.7187639387757857), (80, 0.7187639387757857), (87, 0.7187639387757857), (94, 0.7187639387757857), (96, 0.7187639387757857), (109, 0.7081949409640349), (146, 0.7081949409640349), (148, 0.7081949409640349), (162, 0.7081949409640349), (8, 0.704752175450625), (53, 0.704752175450625), (57, 0.704752175450625), (95, 0.704752175450625), (100, 0.6971725980325056), (176, 0.6971725980325056), (118, 0.6885465629430749), (195, 0.6885465629430749), (110, 0.6808059720894577), (132, 0.6808059720894577), (165, 0.6795592398898933), (147, 0.6727663985438526), (177, 0.6716098397872673), (134, 0.669083821706763), (153, 0.669083821706763), (181, 0.669083821706763), (155, 0.6652429897191633), (172, 0.6652429897191633), (196, 0.6652429897191633), (178, 0.6612567306621469), (197, 0.6612567306621469), (152, 0.6597472552543912), (159, 0.6597472552543912), (183, 0.6597472552543912), (192, 0.6561969919199329), (108, 0.6555756109971018), (145, 0.6555756109971018), (157, 0.6555756109971018), (104, 0.6553811180634983), (182, 0.6553811180634983), (129, 0.655121923802173), (135, 0.655121923802173), (121, 0.6454502128547045), (161, 0.6454502128547045), (194, 0.6454502128547045), (113, 0.642180998845227), (122, 0.642180998845227), (150, 0.641729347617432), (115, 0.640684887723711), (144, 0.6384049954125309), (131, 0.6354118021909083), (160, 0.6354118021909083), (123, 0.6318424443507962), (138, 0.6318424443507962), (164, 0.6318424443507962), (171, 0.6318005873870042), (193, 0.6318005873870042), (188, 0.6311741304822367), (140, 0.6283731998837363), (142, 0.6276500166042578), (149, 0.6260376128073576), (99, 0.6218603105582519), (174, 0.6189186098657634), (112, 0.6177018945664263), (143, 0.6177018945664263), (173, 0.6166861548197016), (179, 0.6166861548197016), (124, 0.6159573558536696), (136, 0.6159573558536696), (151, 0.6137133731703931), (167, 0.6137133731703931), (166, 0.6134980212967751), (156, 0.6128099573170598), (154, 0.6125067366507458), (139, 0.609121703616475), (180, 0.6067350805146317), (185, 0.6047459597531397), (105, 0.6041638653468294), (163, 0.6041638653468294), (184, 0.5996615132598597), (128, 0.5955563983501483), (120, 0.5903217200818941), (126, 0.5903217200818941), (119, 0.5889333004127323), (133, 0.5865662687872593), (107, 0.5857683444446886), (116, 0.5816933355875208), (101, 0.5816597265174576), (117, 0.5816597265174576), (186, 0.5816597265174576), (141, 0.5802788818827503), (169, 0.5802788818827503), (130, 0.5711801614382108), (190, 0.5709571244330177), (168, 0.5685222781519979), (127, 0.5680961647328716), (191, 0.5628086578321762), (170, 0.5615819191521986), (187, 0.5615819191521986), (111, 0.5613541506662764), (103, 0.5459674225953651), (137, 0.5442276702847668), (114, 0.5361669586152334), (189, 0.5361669586152334), (175, 0.5283980957203019), (158, 0.5282316864523079), (102, 0.5235257306185563), (125, 0.5234927594921767), (106, 0.5093014242327359)]

In [ ]:

# print the name of similar movies based on index

print('bike suggested for you: \n')
i=1
for bikes in sorted_similar_bike:
  index = bikes[0]
  name_from_index = bike_data[bike_data.index == index]['name'].values[0]
  if(i<11):
    print(i,'.', name_from_index)
    i+=1

bike suggested for you:

1 . Toyota
2 . Toyota
3 . Toyota
4 . Toyota
5 . Toyota
6 . Toyota
7 . Toyota
8 . Toyota
9 . Hyundai
10 . Hyundai

All in one

In [ ]:
bike_name = input('Enter bike name: ')

list_of_all_name = bike_data['name'].tolist()

find_close_match = difflib.get_close_matches(bike_name,list_of_all_name)

close_match = find_close_match[0]

name_of_the_bike = bike_data[bike_data.name == close_match]['index'].values[0]

similarity_score = list(enumerate(similarity[name_of_the_bike]))

sorted_similar_bike = sorted(similarity_score,key = lambda x:x[1],reverse = True)

print('bike suggested for you: \n')
i=1
for bike in sorted_similar_bike:
  index = bike[0]
  name_from_index = bike_data[bike_data.index == index]['name'].values[0]
  if(i<11):
    print(i,'.', name_from_index)
    i+=1

Enter bike name: Bajaj Pulsar 220S
bike suggested for you:

1 . Bajaj Pulsar 220S
2 . Bajaj Pulsar 150
3 . Bajaj Pulsar 150
4 . Bajaj Pulsar 150
5 . Bajaj Pulsar AS200
6 . Hyundai
7 . Hyundai
8 . Hyundai
9 . Hyundai
10 . Hyundai